* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

h2 {
	font-size: 40px;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.map-section {
	max-width: 1280px;
}

.map-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
	height: 560px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	color: #520f10;
	background-color: bisque;
	/* visibility: hidden; */
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.map-container .col-map-image img {
	height: 520px;
}

.map-container.map-active .col-map-content {
	text-transform: capitalize;
}

.map-container.map-active {
	/* visibility: visible; */
	z-index: 1;
	/* -webkit-animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both; */
}

.map-container.map-active .col-map-content {
	-webkit-animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media (max-width: 747px) {
	.map-container {
		grid-template-columns: 1fr;
	}

	.map-container .col-map-image img {
		height: 480px;
	}
}
